@model Address
@{
    List<Address> addreses = ViewBag.Addresses;
}


<div class="row">
               @foreach(var Address in addreses)
    {
    <div class="container"> 
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@Address.User.UserName</h5>
                <p class="card-text">@Address.AddressLine ,@Address.City , @Address.state , @Address.PinCode</p>
                <a href="#" class="btn btn-primary">Deliver here</a>
            </div>
        </div>
    </div>
        }
</div>



<div>

    <div class="card bg-primary text-white rounded-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h5 class="mb-0">Card details</h5>
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
                     class="img-fluid rounded-3" style="width: 45px;" alt="Avatar">
            </div>

            <p class="small mb-2">Card type</p>
            <a href="#!" type="submit" class="text-white">
                <i class="fab fa-cc-mastercard fa-2x me-2"></i>
            </a>
            <a href="#!" type="submit" class="text-white">
                <i class="fab fa-cc-visa fa-2x me-2"></i>
            </a>
            <a href="#!" type="submit" class="text-white">
                <i class="fab fa-cc-amex fa-2x me-2"></i>
            </a>
            <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-paypal fa-2x"></i></a>

            <form class="mt-4" asp-action="Index">
                <div asp-validation-summary="ModelOnly" data-mdb-input-init class="text-danger">
                  
                </div>

                <div data-mdb-input-init class="form-outline form-white mb-4">
                    <input asp-for="AddressLine" type="text" id="typeName" class="form-control form-control-lg" siez="17"
                           placeholder="Address" />
                    <label asp-for="AddressLine" class="form-label">Address</label>
                    <span asp-validation-for="AddressLine" class="text-danger"></span>
                </div>

                <div data-mdb-input-init class="form-outline form-white mb-4">



                    <div data-mdb-input-init class="form-outline form-white mb-4">
                        <input asp-for="City" type="text" id="typeName" class="form-control form-control-lg" siez="17"
                               placeholder="City" />
                        <label asp-for="City" class="form-label">City</label>
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>

                    <div data-mdb-input-init class="form-outline form-white mb-4">
                        <div data-mdb-input-init class="form-outline form-white mb-4">
                            <input asp-for="state" type="text" id="typeName" class="form-control form-control-lg" siez="17"
                                   placeholder="state" />
                            <label asp-for="state" class="form-label">state</label>
                            <span asp-validation-for="state" class="text-danger"></span>
                        </div>

                        <div data-mdb-input-init class="form-outline form-white mb-4">
                            <div data-mdb-input-init class="form-outline form-white mb-4">
                                <input asp-for="PinCode" type="text" id="typeName" class="form-control form-control-lg" siez="17"
                                       placeholder="PinCode" />
                                <label asp-for="PinCode" class="form-label">PinCode</label>
                                <span asp-validation-for="PinCode" class="text-danger"></span>
                        </div>

                     <div data-mdb-input-init class="form-outline form-white mb-4">
                    </div>

            </form>

            <hr class="my-4">



         

            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-info btn-block btn-lg">
                <div class="d-flex justify-content-between">
                    <span>-></span>
                    <span><button class="btn btn-dark" value="Create"> Create</button> <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                </div>
            </button>

        </div>
    </div>


</div>





